body, header, h1, h4, canvas, footer, button, img, div, select, option {
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: none;
}

body  {
  background-color: #000000;
  color: white;
}

header {
  font-family: 'Raleway', sans-serif;
  margin: 20px auto;
  margin-bottom: 0px;
  width: 80%;
  height: 100px;
  border-radius: 6px;

  text-align: center;
}

header > h1 {
  padding-top: 20px;
  font-weight: bold;
  font-size: 60px;
}

.middle-container {
  font-family: 'Raleway', sans-serif;
  margin: 0 auto;
  margin-top: 20px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.middle-container h2 {
  font-size: 40px;
  font-weight: bold;
  padding-left: 20px;
}

.middle-container p {
  padding: 0px 20px;
  font-size: 20px;
}

.instructions {
  width: 480px;
  max-width: 100%;
  margin-top: 20px;
  background-color: #ffc962;
  border-radius: 6px;
}

canvas {
  margin-top: 30px;
  display: block;
  background-color: #777777;
}

.bonus {
  margin-top: 20px;
  margin-left: 100px;
  width: 480px;
  background-color: #000000;
  border-radius: 6px;
}

.bonus h2 {
  font-size: 30px;
}

#reset-level, #skip-level, #next-level, #reset-game {
  cursor: pointer;
  box-sizing: border-box;
  margin: 20px 35px;
  width: 400px;
  height: 70px;
  background-color: #ffffff;
  border-radius: 6px;
  font-size: 32px;
  font-weight: bold;
}

#reset-level:hover, #skip-level:hover, #next-level:hover, #reset-game:hover {
  background-color: #aaaaaa;
}

#next-level {
  border-color: black;
  border-width: 1px;
  border-style: solid;
  margin-top: 40px;
}

select {
  height: 35px;
  width: 100px;
  font-size: 18px;
  text-align-last:center;
  border: 2px solid #aaaaaa;
}

#dialog {
  width: 500px;
  margin: 10px auto;
  border-radius: 6px;
  background-color: #ffffff;
  text-align: center;
  padding-top: 30px;
}

.no-close .ui-dialog-titlebar-close {
  display: none;
}

footer {
  margin: 20px auto;
  width: 80%;
  border-radius: 6px;
  background-color: #FFFFCC;
  text-align: center;
}

footer img {
  padding: 20px 20px;
}

h3 {
  color: grey;
  font-size: 34px;
  margin-block-start: 0;
}

#score {
  color: black;
}

#logo {
  width: 500px;
  height: 123px;
  object-fit: cover;
}

#new-highscore {
  color: black;
}
